body {
    background-image: url('hatter.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
footer {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: left;
    color: black;
    font-family: "Tempus Sans ITC";
    background-color: #000;
    max-width: 100%;
}

    
}

ul {
    text-align: center;
    color: solid black;
        
    font-family: "Arial";
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:link{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: black;
    color: red;
}
a:active {
    text-decoration: black;
    color: black;
}
a:checked{
    text-decoration: none;
    color: red;
}

li {
    float: left;
    padding-right: 25px;
    max-width: 1024;
    margin: 0 auto;
}
#menu {
    border-radius: 40px;
    border-style: solid;
	background-color: yellow;
    height: 35px;
    max-width: 100%;
}
fak
{
	background-image: url('fak.jpg');
	
    background-attachment: fixed;
    background-position: center;
}
#elso {
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    text-align: justify;
    float:left;
    max-width: 100%;
    
}
#szoveghatter
{
	border-radius: 40px;
    border-style: solid;
	background-color: green;
    height: auto;
    max-width: 100%;
}
#box
{text-align:left
}
h1 {
    font-size: xx-large;
    padding: 0px 30px;
    font-family: "Arial";
    color: white;
    text-align: center;
}
p {
    font-size: inherit;
    font-weight: 100;
    padding: 0px 30px;
    font-family: "Arial";
    color: white;
	text-align: center;
}
h2 {
    font-weight: 150;
    padding: 0px 30px;
    font-family: "Calibri";
    color: white;
    text-align: center;
}
h3 {
    font-size: xx-large;
    padding: 0px 30px;
    font-family: "Tempus Sans ITC";
    color: white;
    text-align: center;
}
h4 {
    font-size: large;
    padding: 0px 30px;
    font-family: "Arial";
    color: white;
    text-align: left;
}
#mainwrapper{
}

#cim{
    font-size: 100px;
    text-align: center;
}
#form-div, #kom {
    margin: 10px;
    border-radius: 10px;
    border-color: #000;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    height: 560px;
}
#google {
    text-align: rightű;
}
#video {
    margin: 10px;
}
#verseny {
    margin: 10px;
    border-radius: 30px;
}
#tamog {
    text-shadow: rgb(fff);
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f8f8f8;
    background-color: #010101;
    text-align: justify;
}
#tabla
{
    background-color: black;
    margin: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    text-align: right;
    max-width: 30%;
    max-height: 250px;
    
}

}

tablazat {
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #A52A2A;
    background-color: #A52A2A;
    text-align: justify;
    float:left;
    max-width: 30%;
}

